//

main{
    .card{
        img{
            height: 100%;
            width: 100%;
            object-fit:cover;
            object-position:top;
        }
    };

    .no-box-shadows{
        padding-left: 0;
        color: red;

        &:focus{
            box-shadow: 0;
        }
    }
}