main .card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .no-box-shadows {
  padding-left: 0;
  color: red;
}

main .no-box-shadows:focus {
  box-shadow: 0;
}

